<!DOCTYPE html>
<html>
  <head>
    <title>Testblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="header__bar row">
        <h1 class="grid-6"><a href="/">Testblog</a></h1>
        <div class="grid-6">
          <% if user_signed_in? %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
          <%= link_to "投稿", new_text_path, method: :get %>
          <% else %>
          <%= link_to "ログイン", new_user_session_path, method: :get %>
          <%= link_to "新規登録", new_user_registration_path, method: :get %>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
