<!DOCTYPE html>
<html>
  <head>
    <title>Testblog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <!--これを消してしまうと、httpリクエストがgetになってしまう-->
    <script src="https://code.jquery.com/jquery-3.4.1.js"
          integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
          crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="teal lighten-1">
    <div class="nav-wrapper">
      <a href="/" class="brand-logo">Testblog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
      <% if user_signed_in? %>
        <li><a href="/users/sign_out">ログアウト</a></li>
        <li><a href="/text/new">投稿</a></li>
        <% else %>
        <li><a href="/users/sign_up">新規登録</a></li>
        <li><a href="/users/sign_in">ログイン</a></li>
      <% end %>
      </ul>
    </div>
  </nav>
      <div class="header__bar row">
        <div class="grid-6">
          
        </div>
      </div>
    </header>
    <%= yield %>
  </body>
</html>
